.editHead {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(218, 225, 244);
  transition: opacity 1s;
}
.newTodoContainer {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 25%;
  background-image: linear-gradient(
    rgb(168, 121, 227),
    rgba(169, 121, 227, 0.082)
  );
}
.inputContainer {
  gap: 3rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Topic {
  text-align: center;
  margin-top: 7%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.todoTopic {
  box-sizing: border-box;
  height: 8vh;
  width: 70%;
  border: none;
  outline: none;
  padding-left: 4%;
  font-size: 100%;
  background-color: rgb(240, 245, 241);
  border-radius: 30px;
  margin: auto;
}
.aboutTodo {
  box-sizing: border-box;
  height: 8vh;
  width: 70%;
  border: none;
  outline: none;
  padding-left: 4%;
  background-color: rgb(240, 245, 241);
  border-radius: 30px;
  margin: auto;
  font-size: 100%;
}
.time {
  height: 6vh;
  width: 30%;
  outline: none;
  border: none;
  font-size: large;
  background-color: rgb(240, 245, 241);
}
.timeLabel {
  font-size: 100%;
}
.date {
  height: 6vh;
  width: 30%;
  font-size: large;
  outline: none;
  border: none;
  background-color: rgb(240, 245, 241);
}
.dateLabel {
  font-size: 100%;
}
.dateContainer {
  color: white;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 15%;
}
.add {
  height: 8vh;
  width: 70%;
  font-size: 100%;
  color: white;
  background-color: rgb(168, 121, 227);
  border-radius: 30px;
  margin-top: 3rem;
  margin-left: 15%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.add:hover {
  background-color: rgb(174, 139, 219);
}
.iconBack {
  font-size: xx-large;
  position: absolute;
  top: 9%;
  left: 2%;
  cursor: pointer;
}
@media screen and (max-width: 700px) and (min-width: 270px) {
  .newTodoContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    left: 0%;
    background-image: linear-gradient(
      rgb(168, 121, 227),
      rgba(169, 121, 227, 0.068)
    );
  }
  .iconBack {
    display: none;
  }
  .Topic {
    font-size: 170%;
    margin-top: 20%;
  }
  .inputContainer {
    gap: 2rem;
    margin-top: 3rem;
  }
  .dateContainer {
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0%;
  }
  .todoTopic {
    font-size: 100%;
    height: 6vh;
  }
  .aboutTodo {
    font-size: 100%;
    height: 6vh;
  }
  .time {
    font-size: 130%;
    width: 100%;
    height: 6vh;
    border-radius: 30px;
  }
  .date {
    font-size: 130%;
    width: 100%;
    height: 6vh;
    border-radius: 30px;
  }
  .timeLabel {
    font-size: 100%;
    margin: auto;
  }
  .dateLabel {
    font-size: 100%;
    margin: auto;
  }
  .add {
    margin-top: 2rem;
    height: 6vh;
  }
}
@media screen and (min-height: 800px) and (max-height: 1000px) {
  .inputContainer {
    gap: 2.5rem;
  }
  .dateContainer {
    gap: 1rem;
  }
  .todoTopic {
    height: 5vh;
  }
  .aboutTodo {
    height: 5vh;
  }
  .time {
    height: 5vh;
  }
  .date {
    height: 5vh;
  }
  .add {
    height: 5vh;
  }
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
  .newTodoContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    left: 0%;
    background-image: linear-gradient(
      rgb(168, 121, 227),
      rgba(169, 121, 227, 0.068)
    );
  }
  .iconBack {
    display: none;
  }
  .Topic {
    font-size: 320%;
    margin-top: 20%;
  }
  .inputContainer {
    gap: 4rem;
    margin-top: 4rem;
  }
  .todoTopic {
    width: 80%;
    font-size: 220%;
    height: 7vh;
  }
  .aboutTodo {
    width: 80%;
    font-size: 220%;
    height: 7vh;
  }
  .time {
    font-size: 170%;
  }
  .date {
    font-size: 170%;
  }
  .timeLabel {
    font-size: 220%;
  }
  .dateLabel {
    font-size: 220%;
  }
  .dateContainer {
    width: 80%;
    margin-left: 10%;
  }
  .add {
    width: 80%;
    font-size: 220%;
    margin-top: 4rem;
    margin-left: 10%;
  }
}
@media screen and (max-width: 280px) {
  .newTodoContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    left: 0%;
    background-image: linear-gradient(
      rgb(168, 121, 227),
      rgba(169, 121, 227, 0.068)
    );
  }
  .iconBack {
    display: none;
  }
  .Topic {
    font-size: 150%;
    margin-top: 20%;
  }
  .dateContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0%;
  }
  .todoTopic {
    font-size: 100%;
    height: 6vh;
  }
  .aboutTodo {
    font-size: 100%;
    height: 6vh;
  }
  .time {
    font-size: 100%;
    width: 100%;
    height: 6vh;
    border-radius: 30px;
  }
  .date {
    font-size: 100%;
    width: 100%;
    height: 5vh;
    border-radius: 30px;
  }
  .timeLabel {
    font-size: 100%;
    margin: auto;
  }
  .dateLabel {
    font-size: 100%;
    margin: auto;
  }
  .add {
    height: 6vh;
    font-size: 100%;
  }
}
