html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.all {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(IMG-20210404-WA0006.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.coversAll {
  width: 50%;
  height: 65.5vh;
  background-color: white;
  margin: auto;
  overflow: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2),
    2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.containsImage {
  width: 50%;
  height: 34vh;
  margin: auto;
  box-sizing: border-box;
  background-image: linear-gradient(
      to right,
      rgba(125, 70, 188, 0.164) 60%,
      rgba(92, 70, 188, 0.3) 40%
    ),
    url(iStock_000080733521_Double.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imageText {
  font-size: 300%;
  color: whitesmoke;
  font-weight: lighter;
  position: absolute;
  top: 7%;
  left: 27%;
  line-height: 100%;
}
.imageshowDate {
  color: whitesmoke;
  position: absolute;
  top: 26%;
  left: 27.5%;
}
.imageshowTime {
  color: whitesmoke;
  font-size: 230%;
  position: absolute;
  top: 12%;
  left: 58%;
}
.addNew {
  box-sizing: border-box;
  background-color: rgb(168, 120, 229);
  color: white;
  width: 65px;
  height: 65px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 50%;
  font-size: 350%;
  position: fixed;
  bottom: 4%;
  left: 65%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.addNew:hover {
  background-color: rgb(169, 141, 204);
}
.text {
  line-height: 90%;
  color: rgb(230, 250, 255);
  font-weight: lighter;
}
.theInbox {
  margin-left: 5%;
  font-weight: 600;
  color: rgb(185, 188, 195);
}
.todoContent {
  color: black;
  height: 80%;
}
.map {
  box-sizing: border-box;
  line-height: 70%;
  margin-left: 5%;
  margin-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.checkAlign {
  margin-top: auto;
  margin-bottom: auto;
}
.headDiv {
  width: 35%;
}
.headAlign {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}
.bodyAlign {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}
.iconAlign {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  gap: 0.5rem;
  margin-left: 7%;
}
.timeAlign {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}
.check {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}
.noTodo {
  font-size: xx-large;
  margin-top: 15%;
}
.timeMap {
  font-size: large;
}
.theHead {
  font-size: 130%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.733);
}
.theBody {
  color: rgba(0, 0, 0, 0.932);
}
.del {
  font-size: 25px;
  color: rgba(255, 0, 0, 0.685);
  cursor: pointer;
}
.edit {
  font-size: 25px;
  color: rgba(0, 128, 0, 0.712);
  cursor: pointer;
}
.preview {
  font-size: 25px;
  color: rgba(0, 0, 255, 0.726);
  cursor: pointer;
}
.del:hover {
  transform: translateY(2px);
}
.edit:hover {
  transform: translateY(2px);
}
.preview:hover {
  transform: translateY(2px);
}
#release {
  display: none;
}
#remove {
  display: none;
}
.checked {
  display: none;
}
#nextCheck {
  margin-top: 1.5%;
  margin-left: 3%;
  font-size: x-large;
  display: block;
  float: left;
}
#them {
  display: block;
}
#dele {
  display: none;
}
.line {
  background-color: rgba(0, 0, 0, 0.11);
  height: 0.1px;
  width: 100%;
  margin-top: 2%;
}
.iconBack {
  font-size: xx-large;
  position: absolute;
  top: 9%;
  left: 2%;
}
.menuDiv {
  display: flex;
  margin-left: 3.5%;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.menu {
  font-size: 200%;
  cursor: pointer;
  margin-top: 10%;
}
.logOut {
  background-color: white;
  width: fit-content;
  margin-top: 10%;
  font-size: 80%;
  height: 4vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: max-width 0.5s;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 700px) and (min-width: 260px) {
  .containsImage {
    width: 100%;
  }
  .coversAll {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
  }
  .imageText {
    position: absolute;
    left: 7%;
    font-size: 250%;
  }
  .imageshowDate {
    position: absolute;
    left: 7%;
    top: 25%;
  }
  .imageshowTime {
    font-size: 180%;
    position: absolute;
    left: 65%;
  }
  .headDiv {
    width: 45%;
  }
  .theBody {
    font-size: 100%;
  }
  .theHead {
    font-size: 100%;
  }
  .iconAlign {
    gap: 0.3rem;
  }
  .del {
    font-size: 110%;
  }
  .edit {
    font-size: 110%;
  }
  .preview {
    font-size: 110%;
  }
  .timeMap {
    font-size: 100%;
  }
  .addNew {
    position: fixed;
    bottom: 5%;
    left: 75%;
    width: 60px;
    height: 60px;
  }
  .check {
    height: 40px;
    width: 40px;
  }
  .menuDiv {
    margin-left: 6%;
  }
}
@media screen and (max-width: 300px) {
  .theBody {
    font-size: 80%;
  }
  .theHead {
    font-size: 80%;
  }
  .iconAlign {
    gap: 0.1rem;
  }
  .del {
    font-size: 90%;
  }
  .edit {
    font-size: 90%;
  }
  .preview {
    font-size: 90%;
  }
  .timeMap {
    font-size: 80%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
  .containsImage {
    width: 100%;
  }
  .coversAll {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
  }
  .imageText {
    position: absolute;
    left: 7%;
    font-size: 400%;
  }
  .imageshowDate {
    position: absolute;
    left: 7%;
    top: 25%;
    font-size: 180%;
  }
  .imageshowTime {
    font-size: 300%;
    position: absolute;
    left: 65%;
  }
  .theInbox {
    font-size: 120%;
  }
  .theBody {
    font-size: 110%;
  }
  .theHead {
    font-size: 120%;
  }
  .del {
    font-size: 120%;
  }
  .edit {
    font-size: 120%;
  }
  .preview {
    font-size: 120%;
  }
  .timeMap {
    font-size: 120%;
  }
  .addNew {
    position: fixed;
    bottom: 5%;
    left: 75%;
    width: 100px;
    height: 100px;
    font-size: 600%;
  }
  .check {
    height: 50px;
    width: 50px;
  }
  .menu {
    font-size: 290%;
  }
  .menuDiv {
    margin-left: 6.5%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .imageshowTime {
    font-size: 30px;
  }
}
